<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!--==========top header=======-->
<div class="top-header">
    <div class="container">
        <div class="top-main-section">
            <div class="left-section">
                <ul>
                    <li><a href="">Phone: +9876876</a></li>
                    <li><a href="">Email: info@demo.com</a></li>
                </ul>
            </div>
            <div class="right-section">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!--==========end top header=======-->
<!--====header============-->
<div class="header">
    <div class="container">
        <div class="header-main-section">
            <div class="logo">
                <img src="./images/logo.png" width="100" alt="">
            </div>
            <div class="company-name">
                <h1>My Company name</h1>
            </div>
            <div class="search-course">
                <input type="text" class="form-control">
                <button class="btn-search">Search</button>
            </div>
        </div>
    </div>
</div>
<!--====End header============-->

<!--=======menu==============-->
<div class="menu">
    <div class="container">
        <div class="nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Faq</a></li>
            </ul>
        </div>
    </div>
</div>
<!--=======end menu==============-->

<div class="slider">
    <img src="images/a.jpg" alt="">
</div>

<div class="search-box-section">

</div>

<div class="intro-text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dicta distinctio dolores expedita minus nam nulla, omnis porro provident sunt ullam vitae voluptatem! Aliquid excepturi fuga ipsam reiciendis, rem voluptatibus.
</div>
</body>
</html>