body{
  /* background-color: gray;
  background:url("../image/download.jpg") no-repeat;
  background-attachment: fixed; */
  /* background: red; */
  /* background:rgb(122, 215, 190); */
  /* background: #f2f2f4; */
    /* background: linear-gradient(to left, #2ad655 0%, #000000 100%); */
}

/* .container{
    width: 500px;
    height: 500px;
    margin: auto;
    background-image: url("../image/download.jpg");
    background-repeat: no-repeat;
    background-color: red;
} */

/* .logo-section{
    background-image: url('../image/download.jpg');
    background-repeat: no-repeat;
    background-color: red;
    height: 300px;
    width: 600px;
  
} */

